body {
    font-family: 'Poppins', Arial, sans-serif; 
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px #8e87edf9;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  h2 {
    color: slateblue;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin: 15px 0 8px;
    color: slateblue;
  }
  
  input,
  select,
  button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
  }
  
  button {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: blueviolet;
  }
  
  #result {
    font-size: 18px;
    margin-top: 20px;
    color: slateblue;
    font-weight: bolder;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 600px) {
    .container {
      max-width: 100%;
    }
  }
  